.signup {
    height: 100vh;
    max-width: 2000px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;

  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }  
  
  .headerSearch {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 200%;
    max-width: 1024px;
  }